<div class="page-header text-center">
  <h1>{{foto.titulo}}</h1>
</div>

<!-- verifico se há algo (.length) dentro da mensagem, se sim, exibe  -->
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<!-- novalidate desabilita validacoes do html5 -->
<form novalidate name="formulario" class="row" ng-submit="submeter()">
  <div class="col-md-6">
    <div class="form-group">
      <label>Título</label>
      <input
        name="titulo"
        ng-model="foto.titulo"
        class="form-control"
        ng-maxlength="20"
        required
      />
      <!-- ng-show funciona como ngif -->
      <!-- $error identifica se há erro usando o name do formulario e name do input -->
      <!-- $submitted verifica o formulario somente ao enviar -->
      <span
        ng-show="formulario.$submitted && formulario.titulo.$error.required"
        class="form-control alert-danger"
      >
        Título obrigatorio
      </span>
      <span
        ng-show="formulario.$submitted && formulario.titulo.$error.maxlength"
        class="form-control alert-danger"
      >
        Deve ter no máximo 20 caracteres
      </span>
    </div>
    <div class="form-group">
      <label>URL</label>
      <input name="url" ng-model="foto.url" class="form-control" required />
      <span
        ng-show="formulario.$submitted && formulario.url.$error.required"
        class="form-control alert-danger"
      >
        URL obrigatoria
      </span>
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <textarea name="descricao" ng-model="foto.descricao" class="form-control">
      </textarea>
    </div>

    <!-- ng-disabled, desabilita se o formulario estiver invalido -->
    <button
      type="submit"
      class="btn btn-primary"
      ng-disabled="formulario.$invalid"
    >
      Salvar
    </button>
    <a href="/" class="btn btn-primary">Voltar</a>
    <hr />
  </div>
  <div class="col-md-6">
    <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
  </div>
</form>
